.home-main-process-div {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 23vw;
    min-height: 250px;  
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5%;

    min-width: 700px;


    margin-left:auto;
    margin-right: auto;
    margin-bottom: 5%;
}
.home-slide-div{
    width:50%;
    border-radius: 10px 0 0 0;
    border-right: 1px solid black
}
.home-test-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
    min-width: 200px;
}

.home-previous-test-div {
    border:1px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 3%;
    min-width: 700px;

}
.home-previous-test-div > h2 {
    margin-left: 3%;
}
.slide-image {
    border-radius: 10px 0 0 0;
}
.select-button {
    width: 300px;
    margin-bottom: 3%; 
}
.pre-test-div {
    display: flex;
    flex-direction: row;
}